.win{
    border: gold solid 3px;
    border-radius: 10px;
    color: rgb(167, 112, 10);
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 2%
}
.win h2{
    font-size:50px ;
    text-shadow: 3px 2px 0px;
    width: 100%;
}
.win h3{
    width: 100%;
}
.win p{
    width: 100%;
}
.win img{
    width: 100%;
}
@media screen and (max-width:600px) {
    .win{
        width: 80%;
    }
    .win h2{
        font-size: 30px;
    }
}