@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.gameboard{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    width: 80%;
}
.switchLevel{
    background: none;
   border: 1px solid gold;
   border-radius: 5px;
    color: red;
    cursor: pointer;
    height: 30px;
    left: 62%;
    top: 48%;
    position: absolute;
    width: 3%;
}
.switchLevel:hover{
    color: green;
}
.buttonStart{
    background-color: gold;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 45px;
    font-weight: 700;
    height: 10%;
    margin-top: 10%;
    text-shadow: 3px 2px 0px;
    width: 15%;
}
.buttonStart:hover{
    background-color: green;
    color: black;
}
@media screen and (max-width:600px) {
    .App{
        width: 100vw;
    }
    .buttonStart{
        width: 60%;
    }
    .switchLevel{
        top: 70%;
        width: 20%;
        
    }
    
}